.card-set__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;

    background-color: rgba(47, 48, 58, 0.8);
}
.card-set__item {
    flex-basis: calc((100% - var(--indent) * var(--item)) / var(--item));
    margin: calc(var(--indent) / 2);
}
.card-set {
    @media screen and (min-width: 320px) and (max-width: 450px) {

    }
    @media screen and (min-width: 767px) {
        display: flex;
        flex-wrap: wrap;
    }
    
    margin: calc(-1 * var(--indent) / 2);
}
